html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {

    font-size: 15px;
    font-family: Raleway, regular;
    height: auto;
}

.section-padding {
    padding: 35px 0px;
}


h3,
h5 {
    color: #2f5061;
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
}
ul.dropdown-menu li a {
    color: #fff !important;
    font-size: 14px !important;
    text-transform: capitalize !important;
}
p {
    line-height: 1.4;
}
/* .dropdown-toggle::after {
    content: none;
} */
.btn-style {
    background-color: #e57f84;
    padding: 10px 20px;
    color: #fff;
    transition: 0.3s;
}
a.btn-style:hover{
    color: #fff;
    background: #4297a0;
    
}

.section-padding {
    padding: 50px 0px;
}

/*****************************
 main menu area
*****************************/
header.header {
    padding: 5px 0px;
}
.bgcolor.scrolled{
    border-bottom: 2px solid #4297a0;
    transition: 0.3s;
  }

i.fas.fa-align-left {
    color: #4297a0;
}

li.nav-item.dropdown .dropdown-menu {
    display: none;
    top: 38px;
    transition: 0.3s;
}

li.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

ul.navbar-nav.ms-auto li a {
    color: #4297a0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 10px;
    
}
ul.navbar-nav.ms-auto li a:hover{
    border-bottom: 1px solid #4297a0;
    color: #e57f84;
   
}

form.d-flex button {
    color: #f4eae6;
    border: 1px solid #fff;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: #e57f84;
    border: 1px solid #2f5061;
    transition: 0.3s;
}

form.d-flex button:hover {
    background: #4297a0;
    color: #fff;
}
ul.dropdown-menu {
    background: #2f5061;
    border: none;
}

a.dropdown-item:hover {
    background: #f4eae6;
    color: red !important;
    color: #2f5061 !important;
}

/************************
blog details
************************/
.blog-left img {
    width: 150px;
    padding: 5px;
    border: 1px solid #f4eae6;
    float: left;
    margin-right: 10px;
    height: 100px;
}

section.b_details {
    padding: 120px 0px 20px 0px;
}
.blog-left a {
    font-size: 16px;
    font-weight: 600;
    color: #e57f84;
}

.blog-article {
    font-size: 15px;
    color: #2f5061;
    margin-top: 10px;
    line-height: 1.8;
    margin-left: 159px;
    text-align: justify;
}

.blog-left {
    border-bottom: 1px solid #f4eae6;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.blogupper img {
    width: 80px;
    float: left;
    height: 60px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #f4eae6;
}
.blogupper a {
    color: #e57f84;
    font-size: 15px;
}
.blog-left a:hover,.blogupper a:hover {
    color: #4297a0;
}
.blogupper {
    margin-bottom: 20px;
}
.blog-right h4 {
    color: #4297a0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 19px;
}



/************************
footer area
************************/
footer.footer {
    background: #2f5061;
    padding: 100px 0px;
    border-radius: 100px 0px 0px 0px;
}

.footer-box a {
    text-decoration: none;
    font-size: 17px;
    color: #f4eae6;
    padding: 1px;
    margin-right: 5px;
}
.footer-box::first-child{
    margin-left: 0px;
}
.footer-box{
    margin-left: 80px;
}

.footer-box h3 {
    font-size: 18px;
    color: #e57f84;
    text-transform: uppercase;
    margin-bottom: 20px
}

.service-item ul li a:hover {
    color: #e57f84;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

address {
    margin-top: 10px;
    line-height: 1.8;
    color: #f4eae6;
    font-size: 16px;
}

.service-item ul li a {
    transition: 0.3s;
}

.footer-box a {
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    padding: 1px;
    margin-right: 15px;
}

div#social {
    margin-bottom: 10px;
}

.smGlobalBtn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

/* facebook button class*/
.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
}

/* twitter button class*/
.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
}

/* linkedin button class*/
.linkedinBtn {
    background: #0094BC;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
}

/* rss button class*/
.rssBtn {
    background: #e88845;
}

.rssBtn:before {
    font-family: "FontAwesome";
    content: "\f09e";
    /* add rss icon */
}

.rssBtn:hover {
    color: #e88845;
    background: #fff;
}

.service-item ul li {
    display: block;
    margin-bottom: 14px;
}
@media only screen and (max-width: 992px) {
     div#navbarSupportedContent {
      margin-left: 40px!important;
      margin-top: 10px;
  }
  }